<div *ngFor="let codebox of codeboxes" 
  class="wall absolute"
  [ngStyle]="{ 
    left: codebox.ladox1 + 'px', 
    top: codebox.ladoy1 + 'px', 
    width: (codebox.ladox2 - codebox.ladox1) + 'px', 
    height: (codebox.ladoy2 - codebox.ladoy1) + 'px',
    backgroundImage:'url('+codebox.textura+')',
    backgroundSize: 'cover', 
    backgroundRepeat: 'no-repeat' 
  }">
  
</div>


<div *ngIf="nearCodeboxId !== null" 
  class="absolute bg-black bg-opacity-70 text-white px-2 py-1 rounded transform -translate-x-1/2 w-[230px] text-wrap"
  [ngStyle]="
    nearCodeboxPosition ? {
      left: nearCodeboxPosition.x + 'px', 
      top: (nearCodeboxPosition.y - 30) + 'px'
    } : {}">
  <p class="text-[22px]">{{ nearCodeboxMessage }}</p>
</div>