<app-camera-component class="flex select-none no-underline">
  <!-- Header Container -->
  <header-container class="flex-shrink-0"></header-container>
  <div class="flex min-w-fit">
    <div 
    class="absolute w-[1200px] h-[800px]"
    [ngStyle]="{
      'background-image': 'url(' + floorImg + ')',
      'background-repeat': 'repeat',
      'background-size': 'auto'
    }">
      <div 
      class="absolute left-[1200px] w-[700px] h-[800px]"
      [ngStyle]="{
        'background-image': 'url(' + fireImg + ')',
        'background-repeat': 'repeat',
        'background-size': 'auto'
      }">
  
      </div> 
    
  </div>

  </div>

  <!-- Player -->
  <app-player-component class="flex-shrink-0"></app-player-component>

  <!-- Terminales -->
  <div class="absolute top-0 left-0">
    <app-terminal [terminales]="gameLogic.terminales"></app-terminal>
  </div>

  <!-- Codeboxes -->
  <div>
    <app-codebox [codeboxes]="gameLogic.codeboxes"></app-codebox>
  </div>

  <!-- Puentes -->
  <div>
    <app-bridge-component [bridge]="gameLogic.bridge" class="m-4"></app-bridge-component>
  </div>

  <!-- Wall Component -->
  <div>
    <app-wallcomponent [walls]="walls" class="flex-shrink-0"></app-wallcomponent>
  </div>
</app-camera-component>
