.tigre {
    height: 100%;
    width: 100%;
    background-image: url('https://media.discordapp.net/attachments/1250621563074646130/1303960952580083743/freepik__cobija-de-tigre__43756.jpeg?ex=672da7c5&is=672c5645&hm=73d57f70b8a8e67f1fe902a4608b5eb8c15891258c969ea80fcdb40489f857b1&=&format=webp&width=1352&height=676');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}