<app-camera-component class="flex select-none no-underline">
  <!-- Header Container -->
  <header-container class="flex-shrink-0"></header-container>

  <!-- Player -->
  <app-player-component class="flex-shrink-0"></app-player-component>

  <!-- Terminales -->
  <div *ngIf="terminales.length > 0" class="absolute top-0 left-0">
    <terminal-img
      *ngFor="let terminal of terminales"
      [terminal]="terminal"
      class="m-2"
    ></terminal-img>
  </div>

  <!-- Codeboxes -->
  <div>
    <app-codebox [codeboxes]="gameLogic.codeboxes"></app-codebox>
  </div>

  <!-- Puentes -->
  <div *ngIf="bridges.length > 0" class="absolute bottom-0 left-1/2 transform -translate-x-1/2">
    <bridges-display [bridges]="bridges" class="m-4"></bridges-display>
  </div>

  <!-- Wall Component -->
  <div>
    <app-wallcomponent [walls]="walls" class="flex-shrink-0"></app-wallcomponent>
  </div>
</app-camera-component>
