<div class="w-[600px] h-[600px] flex flex-col justify-center align-baseline border-[5px] border-blue-800 bg-blue-600">
    <div class="w-[500px] h-[150px] border-[2px] rounded-xl flex justify-center align-baseline">
        <div id="logo"></div>
        <div>
            <h1 class="font-black text-5xl">REANUDAR</h1>
        </div>
    </div>
    <div class="w-[500px] h-[150px] border-[2px] rounded-xl flex justify-center align-baseline">
        <div id="logo"></div>
        <div>
            <H1 class="font-black text-5xl">OPCIONES</H1>
        </div>
    </div>
    <div class="w-[500px] h-[150px] border-[2px] rounded-xl flex justify-center align-baseline">
        <div id="logo"></div>
        <div>
            <h1 class="font-black text-5xl">SALIR</h1>
        </div>
    </div>
</div>
