<div class="fixed inset-0 bg-white bg-opacity-100 flex items-center justify-center z-50">
  <!-- Botón para regresar -->
  <button 
    class="absolute top-4 left-4 bg-emerald-100 border-black border-[5px] hover:bg-gray-400 
    text-gray-800 rounded text-center text-3xl font-bold h-[80px] w-[500px] z-50"
    (click)="closeSettingsModal()">REGRESAR
  </button>

  <!-- Contenedor principal de centrado -->
  <div class="w-[80%] flex items-center justify-center">
    <div class="w-[70%] h-[70%] py-10 px-10 flex flex-col justify-center items-center border-[5px] border-black bg-emerald-100 rounded-lg p-6">
      
      <!-- Primer Contenedor: Música -->
      <div class="w-[100%] h-[70%] border-[2px] rounded-xl flex justify-center items-center my-4">
        <div>
          <h1 class="font-black text-5xl text-center">MUSIC: ACTIVADA | DESACTIVADA</h1>
        </div>
      </div>

      <!-- Segundo Contenedor: FX Sounds -->
      <div class="w-[100%] h-[70%] border-[2px] rounded-xl flex justify-center items-center my-4">
        <div>
          <h1 class="font-black text-5xl text-center">FX SOUNDS: ACTIVADO | DESACTIVADO</h1>
        </div>
      </div>

      <!-- Tercer Contenedor: Controles -->
      <div class="w-[100%] h-[70%] border-[2px] rounded-xl flex justify-center items-center my-4">
        <div>
          <h1 class="font-black text-5xl text-center">CONTROLES</h1>
        </div>
      </div>
    </div>
  </div>
</div>
