<div class="w-[500px] h-[200px] flex flex-row justify-between items-center border-2 p-4 bg-green-100">
   
    <div id="wasd" class="flex flex-col gap-4 items-center border-2 border-green-400 p-4 rounded-xl">
     
      <div id="w" class="grid grid-cols-3 gap-2 w-full ">
        <div></div>
        <div class="border-2 p-4 text-center font-bold bg-green-200  border-green-300">
          <h2>W</h2>
        </div>
        <div></div>
      </div>
    
      <div id="asd" class="grid grid-cols-3 gap-2 w-full">
        <div class="border-2 p-4 text-center font-bold bg-green-200  border-green-300">
          <h2>A</h2>
        </div>
        <div class="border-2 p-4 text-center font-bold bg-green-200  border-green-300">
          <h2>S</h2>
        </div>
        <div class="border-2 p-4 text-center font-bold bg-green-200  border-green-300">
          <h2>D</h2>
        </div>
      </div>
    </div>
  
   
    <div id="arrows" class="flex flex-col items-center border-2 border-green-400 p-4 rounded-xl">
  
      <div class="grid grid-cols-3 gap-2 w-full">
        <div></div>
        <div class="border-2 p-4 text-center font-bold bg-green-200  border-green-300">
          <h2>↑</h2>
        </div>
        <div></div>
      </div>
    
      <div class="grid grid-cols-3 gap-2 w-full mt-4">
        <div class="border-2 p-4 text-center font-bold bg-green-200  border-green-300">
          <h2>←</h2>
        </div>
        <div class="border-2 p-4 text-center font-bold bg-green-200  border-green-300">
          <h2>↓</h2>
        </div>
        <div class="border-2 p-4 text-center font-bold bg-green-200  border-green-300">
          <h2>→</h2>
        </div>
      </div>
    </div>
  </div>
  