<div class="w-full h-screen flex justify-around bg-blue-200 text-center items-center ">
  <div class="flex flex-col border-[8px] items-center w-[500px] h-[600px] justify-around border-2 border-blue-400 rounded-3xl bg-gray-100 mt-[50px]">
      <h2 class="text-[50px] ">Registro</h2>
      <form class="  flex flex-col items-center justify-around h-5/6"
      [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="w-5/6 items-center flex flex-col text-[30px]" >
          <label for="nombreusuario">Nombre de Usuario:</label>
          <input
          class="border-2 border-blue-400"
            id="nombreusuario"
            formControlName="nombreusuario"
            type="text"
            required
          />
        </div>
        <div class="w-5/6 flex flex-col text-[30px] items-center text-center">
          <label for="contrasena">Contraseña:</label>
          <input
          class="border-2 border-blue-400"
            id="contrasena"
            formControlName="contrasena"
            type="password"
            required
          />
        </div>
        <div class="w-5/6">
          <button class="border-2 border-blue-900 text-white text-[35px] w-full h-[60px] rounded-2xl bg-green-700" type="submit" [disabled]="registerForm.invalid">Registrarse</button>
        </div>
      </form>
    </div>
    <div class="flex  border-2 bg-blue-300 p-2 rounded-3xl">
      <h3 class="p-2 text-center" >¿Ya tienes cuenta?  </h3>
      <h3 class="p-2 text-green-800 font-black" (click)="login()">  Inicia sesión</h3>
    </div>
</div>