/* player-component.component.css */
.player {
  position: absolute;
  width: 80px;
  height: 100px;
    /* Ajusta la hitbox en caso de necesitar un desplazamiento */
   /*margin-left: -2px; /* Desplaza la hitbox horizontalmente */
 /* margin-top: -15px;  /* Desplaza la hitbox verticalmente */
}

.player-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
