<!-- Botón del menú -->
<div
  class="bg-gray-400 border border-black min-h-fit w-[65px] h-[70px] flex items-center justify-around flex-col rounded-[10px] ml-[50px] mr-[50px] cursor-pointer"
  (click)="openModal()">
  <div class="w-[40px] h-[3px] border-[4px] border-black rounded-full"></div>
  <div class="w-[40px] h-[3px] border-[4px] border-black rounded-full"></div>
  <div class="w-[40px] h-[3px] border-[4px] border-black rounded-full"></div>
</div>

<!-- Modal -->
<div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-emerald-100 border-black border-[3px] rounded-xl p-6 w-[50%] h-[70%] shadow-lg flex flex-col justify-center items-center space-y-12">
    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 text-9xl py-2 px-4 rounded w-full" (click)="closeModal()">REANUDAR</button>
    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 text-9xl py-2 px-4 rounded w-full" (click)="openSettings()">OPCIONES</button>
    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 text-9xl py-2 px-4 rounded w-full" (click)="onExit()">SALIR</button>
  </div>
</div>

<!-- Modal de Configuración -->
<settings-modal *ngIf="isSettingsOpen" (closeSettings)="closeSettings()"></settings-modal>

<!-- Modal de Confirmación de Salida -->
<app-confirm-exit-modal
  *ngIf="isExitConfirmOpen"
  (exitConfirmed)="onExitConfirmed($event)">
</app-confirm-exit-modal>
