<div *ngFor="let terminal of terminales" 
  class="wall absolute"
  [ngStyle]="{
    left: terminal.ladox1 + 'px',
    top: terminal.ladoy1 + 'px',
    width: (terminal.ladox2 - terminal.ladox1) + 'px',
    height: (terminal.ladoy2 - terminal.ladoy1) + 'px',
    backgroundImage: 'url(' + terminal.textura + ')',
    backgroundSize: 'cover',
    backgroundRepeat: 'no-repeat',
    zIndex: 1
  }">

  <!-- Codebox -->
  <div *ngIf="terminal.codebox"
    class="codebox absolute"
    [ngStyle]="{
      left: -100 + 'px',
      top:  + 'px',
      width: (100) + 'px',
      height: (100) + 'px',
      backgroundImage: 'url(' + terminal.codebox.textura + ')',
      backgroundSize: 'cover',
      backgroundRepeat: 'no-repeat',
      zIndex: 2
    }">
  </div>
</div>

<!-- Mensaje de la terminal cercana -->
<div *ngIf="nearTerminalId !== null" class="absolute bg-black bg-opacity-70 text-white px-2 py-1 rounded transform -translate-x-1/2"
  [ngStyle]="nearTerminalPosition ? { left: nearTerminalPosition.x + 'px', top: (nearTerminalPosition.y - 30) + 'px' } : {}">
  <p>{{ nearTerminalMessage }}</p>
</div>
