<div *ngFor="let codebox of codeBoxes" 
  class="codebox absolute"
  [ngStyle]="{
    left: codebox.ladox1 + 'px', 
    top: codebox.ladoy1 + 'px', 
    width: (codebox.ladox2 - codebox.ladox1) + 'px', 
    height: (codebox.ladoy2 - codebox.ladoy1) + 'px',
    backgroundColor: codebox.textura
  }">
</div>

<!-- Mostrar el mensaje asociado con el CodeBox cercano -->
<div *ngIf="nearCodeboxId !== null" 
  class="codebox-message" 
  [ngStyle]="
    nearCodeboxPosition ? {
      left: nearCodeboxPosition.x + 'px', 
      top: (nearCodeboxPosition.y - 30) + 'px'
    } : {}">
  <p>{{ nearCodeboxMessage }}</p>
</div>
